html {
  background: #272727;
  color: white;
}

header {
  display: flex;
  height: 100px;
  background: dimgray;
  font-size: x-large;
}
.headh {
  margin-right: auto;
  margin-left: auto;
}

button {
  height: 44px;
  font-size: 22px;
  padding: 0px 12px;
  color: lightgrey;
  background-color: transparent;
  border: 2px solid lightgrey;
  border-radius: 50px;
  min-width: 125px;
}

button:hover {
  color: white;
  border-color: white;
}

.page {
  width: calc(100vw - 520px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.movie-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.movie-card img {
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
}

.watchlist {
  width: 500px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  position: fixed;
  top: 70px;
  right: 0;
  text-align: center;
}
